<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Panth_BannerSlider::group"
             title="Banner Slider"
             module="Panth_BannerSlider"
             sortOrder="20"
             parent="Panth_Core::panth_extensions"
             resource="Panth_BannerSlider::slider"/>
        <add id="Panth_BannerSlider::slider"
             title="Manage Sliders"
             module="Panth_BannerSlider"
             sortOrder="10"
             parent="Panth_BannerSlider::group"
             action="panth_bannerslider/slider/index"
             resource="Panth_BannerSlider::slider"/>
        <add id="Panth_BannerSlider::slide"
             title="Manage Banners"
             module="Panth_BannerSlider"
             sortOrder="20"
             parent="Panth_BannerSlider::group"
             action="panth_bannerslider/slide/index"
             resource="Panth_BannerSlider::slide"/>
    </menu>
</config>
